<h1>XoX oyunu</h1>
<!--tahta çizelim-->
<h2 
class="alert alert-warning text-center">
{{message}}
</h2>
<button class="btn btn-primary w-100" (click)="newGame()">Yeni Oyun</button>
<div class="row mt-2">
  <button (click)="setMark(index)"
  style="border:1px solid #ccc; height: 180px; cursor: pointer;"
  class="col-md-4 text-center btn "
  [ngClass]="changeWinnerButtonClass(game.winner)"
   *ngFor="let game of games let index = index">
    <span style="font-size: 81px;">{{game.mark}}</span>
</button>
</div>
<hr>
<!--butonlar-->
<button 
*ngFor="let m of moves let i = index"
Class="btn btn-danger mx-1 mt-1"
(click)="returnSelectMove(i)">
{{i+1}}. Hamle
</button>

